:root {
  --font-basic: "Inter", sans-serif;

  --color-white: #ffffff; // Фон основного контенту, текст на темних кнопках
  --color-black: #000000; // Кнопки "Buy Now", текст, темний фон футера
  --color-dark-gray: #353535; // Акценти у секціяї з банерами
}

$bp-mobile: 23.4375rem; // 375px
$bp-tablet: 48rem; // 768px
$bp-desktop: 72rem; // 1120px + padding 16
