.footer {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 104px 0;

  background: var(--color-black, #000);
  color: #cfcfcf;

  &__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;

    @media screen and (min-width: $bp-desktop) {
      justify-content: space-between;
      flex-direction: row;
      padding: 104px 0 0 0;
      gap: 24px;
    }
  }

  &__box-logo-txt {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @media screen and (min-width: $bp-desktop) {
      gap: 24px;
    }
  }

  &__logo {
    cursor: pointer;
    stroke: none;
    fill: white;
    text-align: center;

    @media screen and (min-width: $bp-desktop) {
      text-align: start;
    }
  }

  &__text {
    line-height: 1.7;
    text-align: center;

    @media screen and (min-width: $bp-desktop) {
      text-align: start;
    }
  }

  &__title {
    color: var(--color-white, #fff);
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 8px;

    @media screen and (min-width: $bp-desktop) {
      text-align: start;
    }
  }

  &__services-list,
  &__help-list {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    line-height: 2.2;
    align-items: center;

    @media screen and (min-width: $bp-desktop) {
      align-items: start;
    }
  }

  &__social {
    display: flex;
    justify-content: center;

    @media screen and (min-width: $bp-desktop) {
      justify-content: start;
    }
  }

  &__social-list {
    display: flex;
    flex-direction: row;
    align-content: center;
    gap: 14px;

    li {
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: transparent;
        transition: background-color 0.3s ease-in-out;
        outline: none;
        text-decoration: none;

        &:hover {
          background-color: rgba(249, 245, 245, 0.256);
        }
      }
    }
  }

  &__icon {
    cursor: pointer;
    transition: stroke 0.2s ease-in-out, transform 0.2s ease-in-out;
    fill: var(--Main-White, #fff);
    stroke-width: 2px;
    stroke: var(--Main-White, #fff);
    width: 24px;
    height: 24px;

    @media screen and (min-width: $bp-desktop) {
      width: 16px;
      height: 16px;
    }
  }
}
