.header {
  background-color: var(--color-white);
  padding: 24px 16px;
  top: 0;
  left: 0;
  width: 100%;

  @media screen and (min-width: $bp-desktop) {
    padding: 16px 0;
  }

  &__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  &__icon-search {
    position: relative;
  }

  .icon-search {
    position: absolute;
    top: 20px;
    left: 16px;
    stroke: #b5b5b5;
    fill: transparent;
    z-index: 3;
  }

  &__form-input {
    width: 372px;
    height: 56px;
    background-color: #f5f5f5;
    border-radius: 8px;
    border-style: none;
    padding: 16px 16px 16px 46px;

    &:focus-visible {
      border: 1px solid #b5b5b5;
    }

    &::placeholder {
      color: #b5b5b5;
      line-height: 1.7;
      font-size: 16px;
    }
  }

  &__menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 52px;
    font-size: 16px;
    line-height: normal;
  }

  &__link {
    cursor: pointer;
    color: #b5b5b5;
    transition: color 0.3s ease-in-out;

    &:hover {
      color: var(--color-black);
    }
  }

  &__actions {
    display: flex;
    gap: 24px;
  }

  &__icon {
    cursor: pointer;
    stroke: var(--color-black);
    fill: none;
    transition: color 0.3s ease-in-out;

    &:hover {
      stroke: #b5b5b5;
      transform: scale(0.9, 0.9);
    }
  }

  @media screen and (max-width: $bp-mobile) {
    &__icon-search,
    &__form-input,
    &__menu,
    &__icon {
      display: none;
    }
  }

  .mobile-menu__icon {
    padding: 0;
    background-color: transparent;
    border: none;
    fill: var(--color-black);
    transition: color 0.3s ease-in-out;

    @media screen and (min-width: $bp-desktop) {
      display: none;
    }
  }
}
